In [1]:
fruits = ["banana", "apple", "orange"]

for x in fruits:
    print (x)

banana
apple
orange

In [4]:
numbers = [20, 10 ,5]
total = 0
for x in numbers:
    total = total + x

print(total)

35

In [6]:
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [9]:
total2 = 0
for x in range(1, 5):
    total2 += x

print(total2)

10

In [ ]:
range(1, 8)

In [10]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [13]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [14]:
total4 = 0
for x in range(1, 100):
    if x % 3 == 0 or x % 5 == 0:
        print(x)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99